* {
  /*box-sizing: border-box;*/
}

body {
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  background: #4d907b;
}

#head {
  margin-top: 10px;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: space-between;
}

#head a {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0;
}

h1 {
  margin: 0px;
  text-align: center;
  font-size: 38px;
  color: black;
}

i {
  font-size: 40px;
  color: white;
}

#menu {
  display: none;
  position: absolute;
  background-color: #1d4e44;
  top: 0;
  left: 0;
  width: 50%;
  height: 55%;
  padding: 15px;
}

#menu ul {
  padding-top: 30px;
}

#menu a {
  text-decoration: none;
  color: black;
}

.show {
  display: block !important;
}

.active {
  position: relative;
  left: 36%;
  z-index: 1;
  transform: rotate(90deg);
}

.cancel {
  transform: rotate(45deg);
  color: #072c25;
}

#main {
  display:none;
}

#newHorse {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 25px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}

.spacer {
  margin-bottom: 10px;
}

li {
  border: solid 1px black;
  padding: 10px;
  font-size: large;
  background: rgb(216, 233, 231);
  display:flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 60px;
  height: 50px;
}

li span {
  font-size: xx-large;
}

.panel {

  padding: 0 18px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

input[type="text"] {
  font-size: inherit;
}

#addButton {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#submitForm {
  padding: 10px 20px;
  display: inline-block;
  margin: 0 auto;
}