body {
  padding-top: 75px;
  background-image: url("background.jpg");
  background-size: 45% 100%;
  background-repeat: no-repeat;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
}

/*remove default styling from <a> tags, except in the navbar*/
a:not(.navbar-brand, .nav-link) {
  color: inherit;
  text-decoration: inherit;
  /*cursor: inherit;*/
}

/*styling for homepage contact card center element*/
.contact-card {
  padding-top: 80px;
  padding-bottom: 120px;
  margin-bottom: 80px;
}

/*adds a soft box shadow*/
.shadowleft {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

.shadowright {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.card-title {
  padding-left: 45px;
  padding-right: 45px;
}

.card-text {
  letter-spacing: 3px;
}

.contact-card-left {
  background-color: #c1d7d9;
  padding: 0;
  padding-top: 30px;
}

#minifooter {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.contact-card-right {
  padding-top: 20px;
  background-color: #fff;
}

.innerElement {
  background-image: url("innerBackground.jpg");
  background-size: 45% 100%;
  background-repeat: no-repeat;
}

.innerElement-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-lemon {
  color: #bf8a6e;
}

.projectsTitle {
  text-align: left;
  padding-left: 200px;
  color: #383838;
}

.flexProjects {
  display: flex;
  flex-wrap: wrap;
}

.flexContainer {
  display: inline-flex;
  position: relative; /* establish nearest positioned ancestor for abspos */
  cursor: pointer;
  margin: 50px;
}

.projectsCenteredText {
  display: inline-block;
  font-size: 60px;
  color: whitesmoke;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.projectsCenteredText:hover {
  opacity: 1;
}

.projectImage:hover ~ .projectsCenteredText {
  opacity: 1;
}

.projectImage:hover {
  filter: blur(3px);
}

.projectsCenteredText:hover ~ .projectImage {
  filter: blur(3px);
}

.projectImage {
  width: 400px;
  height: 300px;
}

.contactMeTitle {
  text-align: left;
  padding-left: 200px;
  color: #383838;
}

.formContainer {
  padding-left: 50px;
}

/*styling links in footer to space evenly*/
#follow {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

/*!IMPORTANT!Styling to get the footer to stay at the bottom of page*/
.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

/*!IMPORTANT!Styling to get the footer to stay at the bottom of page*/
html {
  position: relative;
  min-height: 100%;
}

/*!IMPORTANT!Styling to get the footer to stay at the bottom of page*/
.footer-margin {
  margin-top: 0px;
}

#footer-spacing {
  margin: 20px;
}
